@use 'variables' as *;
@use 'reset';

body {
  margin:auto;
  font-family: $font-stack--reading;
  background-color: #eacd05;
  border: 10px solid transparent;
  text-align: center;
  padding: 30px;
/* phones */
  @media (min-width: 400px) {
  width:auto;
  border-color: #ff0000;
  }
/* tablet */
@media (min-width: 800px) {
  width:auto;
  border-color: #04955c;
}  
/* desktop */
@media (min-width: 1200px) {
  width:auto;
  border-color:#eacd05;
}  
}

.port {
  background: #04955c;
  color: white;
  &:hover {
  background: #ff0000;
}
}

.cont {
  background: #04955c;
  color: white;
  &:hover {
  background: #ff0000;
}
}

.abou {
  background: #04955c;
  color: white;
  &:hover {
  background: #ff0000;
}
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.lastest-album {
  background: #000000;
  color: white;
  &:hover {
  background: #ff0000;
}
}

.cover-img {
  display: block;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background: white;
  transition: box-shadow .25s ease-in;
}

.cover-img:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.5) 5px 3px,
  rgba(0, 0, 0, 0.4) 10px 6px,
  rgba(0, 0, 0, 0.3) 15px 9px;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: auto;
}

.item {
  position: relative;
  width: 50%;
  line-height: 0;
}

.logo-fixed {
  margin: auto;
  display: block;
  border-radius: 4px;
  padding: 4px;
  position: fixed;
  top: 30px;
  left: 16px;
}

h1,
h2,
h3 {
  font-family: 'Reggae One', cursive;
  text-align: center;
  padding: 5px;
  font-size: 75px;
}

.koffee-bio {
  text-align: center;
  padding: 16px;
  font-family: 'Montserrat', sans-serif;
}

.koffee-bio-two {
  text-align: center;
  padding: 16px;
  font-family: 'Montserrat', sans-serif;
}

.about-img {
  margin: auto;
  display: block;
  border-radius: 200px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.about-img:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.5) 5px 3px,
  rgba(0, 0, 0, 0.4) 10px 6px,
  rgba(0, 0, 0, 0.3) 15px 9px;
}

header {
  margin:auto;
  text-align: right;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
}

.koffee-west-indies,
.koffee-pull-up,
.koffee-w,
.koffee-lock-down {
  text-align: center;
  padding: 5px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.west-indies-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  box-shadow: rgb(4, 149, 91);
  padding: auto;
}

.west-indies-img:hover {
  box-shadow: 
  rgba(4, 149, 91, 0.5) 5px 3px,
  rgba(4, 149, 91, 0.4) 10px 6px,
  rgba(4, 149, 91, 0.3) 15px 9px;
}

.pull-up-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  box-shadow: rgb(0, 0, 0);
  padding: auto;
}

.pull-up-img:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.5) 5px 3px,
  rgba(0, 0, 0, 0.4) 10px 6px,
  rgba(0, 0, 0, 0.3) 15px 9px;
}

.w-img {
  margin: auto;
  display: block;
  box-shadow: rgb(4, 149, 91);
  padding: auto;
}

.w-img:hover {
  box-shadow: 
  rgba(4, 149, 91, 0.5) 5px 3px,
  rgba(4, 149, 91, 0.4) 10px 6px,
  rgba(4, 149, 91, 0.3) 15px 9px;
}

.lock-down-img {
  margin: auto;
  display: block;
  box-shadow: rgb(0, 0, 0);
  padding: auto;
}

.lock-down-img:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.5) 5px 3px,
  rgba(0, 0, 0, 0.4) 10px 6px,
  rgba(0, 0, 0, 0.3) 15px 9px;
}

.koffee-contact {
  margin: auto;
  display: block;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

nav {
  text-align: center;
  padding: auto;
}

.socials {
  font-style: italic;
  text-align: center;
  padding: 16px;
  font-size: 20px; 
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.socials-row {
  justify-content: center;
  align-content: center;
  flex-direction: row;
  display: flex;
}

.copy-right {
  color: white;
  font-size: 13px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
